@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #020813;
    --branco: #8f1111;
    --laranja: #000000;
    --azul-degrade: linear-gradient(97.54deg, #000000 35.49%, #2b0063 165.37%);
    --fonte-principal: "Poppins";
    --azul: #ffffff;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 19px;
    font-weight: 420;
}